# Connection Parameters to DB - SIT
## Database 1 = First Database (mandatory DB)
jdbcDriver1=
jdbcUrl1=
jdbcLogin1=
jdbcPassword1=

## Database 2 = Second DataBase (optional DB)
jdbcDriver2=
jdbcUrl2=
jdbcLogin2=
jdbcPassword2=

# myDb
jdbcDriver3=oracle.jdbc.OracleDriver
jdbcUrl3=jdbc:oracle:thin:@localhost:1521:XE
jdbcLogin3=system
jdbcPassword3=root


